<html>
	<%= @player_count %> players so far <br/>
	<form method="post" action="/players">	
		<h3>Add new user:</h3>
		First Name: <input name="first_name"></text><br/>
		Last Name: <input name="last_name"></text><br/>
		Email: <input name="email"></text><br/>
		<input id="update-button" value="add" type="submit">
	</form>
</html>
