<html>

	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<th>Name</th>
			<th>Wins</th>
			<th>Losses</th>
		</tr>
		<% for player in @players do %>
		<tr>
			<td><%= player.name %></td>
			<td><%= @stats.wins[player.id] %></td>
			<td><%= @stats.losses[player.id] %></td>
		</tr>
		<% end %>
	</table>
	
</html>
