<html>

	<table border="0" cellspacing="5" cellpadding="5">
		<tr>
			<th>Name</th>
		</tr>
		<% for player in @players do %>
		<tr>
			<td><%= player.name %></td>
		</tr>
		<% end %>
	</table>
	
</html>
