<html>
	<%= @player_count %> players so far <br/>
	<form method="post" action="/players/create">	
		<h3>Add new user:</h3>
		First Name: <input name="first_name"/><br/>
		Last Name: <input name="last_name"/><br/>
		Email: <input name="email"/><br/>
		
		<input id="update-button" value="Add" type="submit"/>
	</form>
</html>
